flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-wtf==1.2.1
wtforms==3.1.2
email-validator==2.1.1
werkzeug==3.0.3
gunicorn==22.0.0
ultralytics==8.2.0
opencv-python-headless==4.9.0.80
google-generativeai==0.8.3
numpy==1.26.4
pandas==2.1.4
Pillow==10.3.0
https://github.com/rathnapuli/License-Detection-App-with-YOLO.git